.main{
  display: flex;
  border-radius: 10px;
  border: 1px solid #000;

}
.left{
  border: 1px solid #000;
  margin: 2px;
}
.right{
  border: 1px solid #000;
  margin: 2px;
}
table,td,tr{
  border: 1px solid #000;
  border-collapse: collapse;
}
